[mqtt]
host=core-mosquitto
port=1883
username=zigbee
password=secret
prefix=homed
names=false

[discovery]
enabled=false
prefix=homeassistant
status=homeassistant/status

[device]
library=/config/homed/zigbee.json
database=/config/homed/homed-zigbee-database.json
properties=/config/homed/homed-zigbee-properties.json
options=/config/homed/homed-zigbee-options.json
external=/config/homed/zigbee
offsets=true

[zigbee]
adapter=znp
port=/dev/ttyUSB0
baudrate=115200
panid=0x1010
channel=11
reset=flow
write=false

[security]
enabled=true
key=0x000102030405060708090a0b0c0d0e0f

[debug]
adapter=false
zigbee=false
